@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');

.evaluator {
    background: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'IBM Plex Sans', sans-serif;
}
.evaluator h1 {
    color: #333;
    margin-bottom: 20px;
    border-bottom:0px;
    text-align:left;
}
.evaluator h2 {
    border-bottom:0px;
    text-align:left;
}
.evaluator label {
    display: block;
    color: #555;
    font-weight: bold;
    margin: 10px 0;
}
.evaluator input[type="text"], textarea {
    /*width: calc(100% - 20px);*/
    width: calc(100%);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.evaluator input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.submitButton{
    text-align: center;
    margin: 20px 0;
}
.evaluator input[type="submit"]:hover {
    background-color: #0056b3;
}
.evaluator #result, #warnings, #error {
    background: #f8f9fa;
    border-radius: 5px;
    border: 1px solid #ddd;
    text-align: left;
    white-space: pre-wrap;
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    word-wrap: break-word;
}

/* CODE MIRROR JS library*/

.CodeMirror {
    border: 1px solid #ccc;
    /*height: auto !important;*/
    height: fit-content;
    border-radius: 5px;
    padding: 12px 0;
}
.cm-s-railscasts div.CodeMirror-selected {background: #6978d5 !important;}